---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import DomainStrip from '../components/DomainStrip.astro';
import Services from '../components/Services.astro';
import Work from '../components/Work.astro';
import Stack from '../components/Stack.astro';
import Process from '../components/Process.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
---
<BaseLayout>
  <Nav />
  <span id="top"></span>
  <Hero />
  <DomainStrip />
  <Services />
  <Work />
  <Stack />
  <Process />
  <About />
  <Contact />
</BaseLayout>
