---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
---
<BaseLayout>
  <Nav />
  <span id="top"></span>
  <main style="padding: 100px 40px; font-size: 24px;">Nav check</main>
</BaseLayout>
